@model Attendance
<style>
    .table-primary {
        --bs-table-color: white!important;
        --bs-table-bg: #1C2A48 !important;
    }
  
    .table tfoot {
        font-weight: bold;
    }

    .tfoot div {
        padding: 10px;
    }

    .text-end {
        direction: rtl;
    }

</style>
<partial name="_Toastr" />

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
            @if (Model != null)
            {
                <div class="table-responsive">
                        <!-- Table for Employee Attendance -->
                        <table class="table table-bordered">
                            <!-- Employee Information -->
                            <thead class="table-primary text-center">
                                <tr>
                            <th style="background-color:#f8f9fa;color:black;" colspan="5" class="text-end">
                                        <div class="d-flex justify-content-between align-items-center">
                                    <div><strong>الكود:</strong> @Model.EmployeeCode</div>
                                            <div><strong>الموظف:</strong> @Model.Employee.Name</div>
                                    <div>@Model.Month \ @Model.Year</div>

                                        </div>
                                    </th>
                                </tr>
                                <!-- Table Column Headers -->
                                <tr>
                                    <th>التاريخ</th>
                                    <th>وقت الحضور</th>
                                    <th>وقت الانصراف</th>
                                    <th>ساعات العمل</th>
                                    <th>التأخيرات</th>
                                </tr>
                            </thead>
                            <!-- Attendance Data -->
                            <tbody class="text-center">
                                @foreach (var attendance in Model.AttendanceDetails)
                                {
                                    <tr>
                                        <td>@attendance.AttendanceDate</td>
                                        <td>@attendance.CheckInTime</td>
                                        <td>@attendance.CheckOutTime</td>
                                        <td>@attendance.WorkingHoursAday</td>
                                        <td>@(attendance.Delay == null ? "-------" : attendance.Delay)</td>
                                    </tr>
                                }
                            </tbody>
                            <!-- Summary Footer -->
                            <tfoot class="table-light text-center">
                                <tr>
                                    <td colspan="5" class="text-end">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <strong> قبل التأخيرات:</strong> @Model.TotalWorkingHoursBeforeDelays<br>
                                                <strong>التأخيرات:</strong> @Model.DelaysHours<br>
                                                <strong>ساعات العمل المعتمدة:</strong> @Model.TotalWorkingHours<br>
                                            </div>
                                            <div>
                                                <strong>الخصم:</strong> @Model.Deduction<br>
                                                <strong>السلف:</strong> @Model.Loan<br>

                                                <strong>المكافأة:</strong> @Model.Bonus<br>
                                            </div>
                                            <div>
                                                <strong>الإضافي:</strong> @Model.OverTimeHours<br>
                                                <strong>إجمالي المرتب:</strong> @Model.CalculatedSalary<br>
                                                <strong>صافى المرتب:</strong> @Model.NetSalary<br>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
            }
            else
            {
                <div class="container justify-center">
                    <partial name="_EmptyData" />
                </div>
            }
        </div>
    </div>

