@model IEnumerable<DeductionDtoForShow>

<partial name="_Toastr" />

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">  جميع الخصومات</h4>
            <a class="btn btn-primary btn-rounded btn-fw" asp-controller="Deduction" asp-action="Create">  تأييد خصم</a>
            @if (Model.Count() > 0)
            {
                <div class="table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> الاسم </th>
                                <th> عدد الساعات </th>
                                <th> قيمة الخصم </th>
                                <th> نوع الخصم</th>
                                <th> الحالة</th>
                                <!-- <th> تعديل </th>
                                 <th> حذف </th>
                                 -->
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>@obj.Id</td>
                                    <td> @obj.EmployeeName</td>
                                    <td>
                                       @((obj.hours==0) ? "-----------":@obj.hours)
                                    </td>
                                    <td> @obj.amount</td>
                                    <td> @obj.DeductionType</td>
                                    <td>
                                        <span class="badge @((obj.IsDone) ? "bg-success" : "bg-danger")">
                                            @((obj.IsDone) ? "معتمد" : "غير معتمد")
                                        </span>
                                    </td>
                                   


                                    <!--   <td>
                                        <a asp-controller="Department" asp-action="Update" asp-route-id="@obj.Id">
                                            <i class="fa fa-pencil-square-o text-primary"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Department" asp-action="Delete" asp-route-id="@obj.Id">
                                            <i class="fa fa-trash-o text-danger cursor-pointer text-bold"></i>
                                        </a>
                                    </td>  -->

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="container justify-center">
                    <partial name="_EmptyData" />
                </div>
            }
        </div>
    </div>
</div>
