@model IEnumerable<Employee>

<partial name="_Toastr" />
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">  جميع الموظفين</h4>
            <a class="btn btn-primary btn-rounded btn-fw" asp-controller="Employee" asp-action="Create">موظف جديد </a>

            @if (Model.Count() > 0){
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> الكود </th>
                                <th> الاسم </th>
                                <th> اجمالى الراتب </th>
                                <th> التليفون </th>
                                <th> المحافظة </th>
                                <th> النوع </th>
                                <th> التفاصيل </th>
                                 <th> تعديل </th>
                                 <th> حذف </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>@obj.Code</td>
                                    <td> @obj.Name</td>
                                    <td> @obj.GrossSalary</td>
                                    <td> @obj.Phone</td>
                                    <td> @obj.Governorate</td>
                                    <td> @obj.Gender</td>
                                    <td>
                                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@obj.Id">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-controller="Employee" asp-action="Update" asp-route-id="@obj.Id">
                                              <i class="fa fa-pencil-square-o text-primary"></i>
                                          </a>
                                      </td> 
                                    <td>
                                        <a asp-controller="Employee" asp-action="Delete" asp-route-id="@obj.Id">
                                            <i class="fa fa-trash-o text-danger cursor-pointer text-bold"></i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example" class="mt-4">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">السابق</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">اللاحق</a>
                        </li>
                    </ul>
                </nav>
            }
            else
            {
            <div class="container justify-center">
                <partial name="_EmptyData" />
            </div>
            }
        </div>
    </div>
</div>
