@using static HumanResources.Domain.Enums.Enums
@using static HumanResources.Application.Dtos.EmployeeDto
@model EmployeeDtoForUpdate

<div class="col-md-12 grid-margin stretch-card" dir="rtl">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">تحديث بيانات الموظف</h4>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" class="form-control">

                <div class="row">
                    <div class="col">
                        <label asp-for="Code" class="label-control"> كود الموظف</label>
                        <input min="1" max="99999" asp-for="Code" class="form-control">
                        <span asp-validation-for="Code" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="Name" class="label-control">الاسم رباعى</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <label asp-for="Phone" class="label-control">التليفون</label>
                        <input type="text" asp-for="Phone" class="form-control">
                        <span asp-validation-for="Phone" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="Address" class="label-control">العنوان</label>
                        <input asp-for="Address" class="form-control">
                        <span asp-validation-for="Address" class="text-danger"></span>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <label asp-for="GrossSalary" class="label-control">اجمالى الراتب</label>
                        <input type="number" min="1000" max="100000000" asp-for="GrossSalary" class="form-control">
                        <span asp-validation-for="GrossSalary" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="SalaryFormula" class="label-control">حساب المرتب</label>
                        <select asp-for="SalaryFormula" class="form-control" asp-items="Html.GetEnumSelectList<SalaryFormula>()">
                        </select>
                        <span asp-validation-for="SalaryFormula" class="text-danger"></span>

                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <label asp-for="BirthOfDate" class="label-control">تاريخ الميلاد</label>
                        <input type="date" asp-for="BirthOfDate" class="form-control">
                        <span asp-validation-for="BirthOfDate" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="DateOfAppointment" class="label-control">تاريخ التعيين</label>
                        <input type="date" asp-for="DateOfAppointment" class="form-control">
                        <span asp-validation-for="DateOfAppointment" class="text-danger"></span>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <label asp-for="CheckInTime" class="label-control">موعد بدء العمل</label>
                        <input type="time" asp-for="CheckInTime" class="form-control">
                        <span asp-validation-for="CheckInTime" class="text-danger"></span>

                    </div>
                    <div class="col">
                        <label asp-for="CheckOutTime" class="label-control">موعد انتهاء العمل</label>
                        <input type="time" asp-for="CheckOutTime" class="form-control">
                        <span asp-validation-for="CheckOutTime" class="text-danger"></span>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="PersonalImageFile" class="label-control">الصورة الشخصية</label>
                        <!-- Display the current image if it exists -->
                        <div class="mb-2">
                            @if (!string.IsNullOrEmpty(Model?.PersonalImageUrl))
                            {
                                <img id="personalImagePreview" src="@Url.Content("~/images/personalImages/" + Model.PersonalImageUrl)" alt="Current Graduation Certificate Image" class="img-thumbnail" style="width: 100px; height: 100px;" />
                            }
                            else
                            {
                                <img id="personalImagePreview" src="@Url.Content("~/images/helpers/no-img.jpg")" alt="Default Image" class="img-thumbnail" style="width: 100px; height: 100px;" />
                            }
                        </div>
                    

                        <input type="file" asp-for="PersonalImageFile" class="form-control" id="personalImageFileInput" onchange="previewImage(event, 'personalImagePreview')">
                        <span asp-validation-for="PersonalImageFile" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="IdentityFile" class="label-control">الصورة الهوية</label>
                        <!-- Display the current image if it exists -->
                        <div class="mb-2">
                            @if (!string.IsNullOrEmpty(Model?.IdentityUrl))
                            {
                                <img id="identityImagePreview" src="@Url.Content("~/images/identity/" + Model.IdentityUrl)" alt="Current Graduation Certificate Image" class="img-thumbnail" style="width: 100px; height: 100px;" />
                            }
                            else
                            {
                                <img id="identityImagePreview" src="@Url.Content("~/images/helpers/no-img.jpg")" alt="Default Image" class="img-thumbnail" style="width: 100px; height: 100px;" />
                            }
                        </div>
                    

                        <input type="file" asp-for="IdentityFile" class="form-control" id="identityFileInput" onchange="previewImage(event, 'identityImagePreview')">
                        <span asp-validation-for="IdentityFile" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="GraduationCertificateFile" class="label-control">المؤهل الدراسى</label>
                        <!-- Display the current image if it exists -->
                        <div class="mb-2">
                            @if (!string.IsNullOrEmpty(Model?.GraduationCertificateUrl))
                            {
                                <img id="graduationImagePreview" src="@Url.Content("~/images/graduationCertificates/" + Model.GraduationCertificateUrl)" alt="Current Graduation Certificate Image" class="img-thumbnail" style="width: 100px; height: 100px;" />
                            }
                            else
                            {
                                <img id="graduationImagePreview" src="@Url.Content("~/images/helpers/no-img.jpg")" alt="Default Image" class="img-thumbnail" style="width: 100px; height: 100px;" />
                            }
                        </div>
                    
                        <input type="file" asp-for="GraduationCertificateFile" class="form-control" id="graduationFileInput" onchange="previewImage(event, 'graduationImagePreview')">
                        <span asp-validation-for="GraduationCertificateFile" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="Gender" class="label-control">النوع</label>
                        <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>

                    </div>

                    <div class="col-md-4">
                        <label asp-for="ExperienceLevel" class="label-control">مستوى الخبرة</label>
                        <select asp-for="ExperienceLevel" class="form-control" asp-items="Html.GetEnumSelectList<ExperienceLevel>()">
                        </select>
                        <span asp-validation-for="ExperienceLevel" class="text-danger"></span>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="MaritalStatus" class="label-control">الحالة الاجتماعية</label>
                        <select asp-for="MaritalStatus" class="form-control" asp-items="Html.GetEnumSelectList<MaritalStatus>()">
                        </select>
                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>

                    </div>
                    <div class="col-md-4">
                        <label asp-for="Governorate" class="label-control">المحافظه</label>
                        <select asp-for="Governorate" class="form-control" asp-items="Html.GetEnumSelectList<Governorate>()">
                        </select>
                        <span asp-validation-for="Governorate" class="text-danger"></span>

                    </div>
                    <div class="col-md-4">
                        <label asp-for="JobPosition" class="label-control">مستوى الخبرة</label>
                        <select asp-for="JobPosition" class="form-control" asp-items="Html.GetEnumSelectList<JobPosition>()">
                        </select>
                        <span asp-validation-for="JobPosition" class="text-danger"></span>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label asp-for="DepartmentId" class="label-control">الأقسام المتاحة</label>
                        <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentLst">
                        </select>
                        <span asp-validation-for="DepartmentId" class="text-danger"></span>

                    </div>

                </div>
                <div class="button-container">
                    <button type="submit" class="button btn btn-success"><span>حفظ</span></button>
                    <a asp-controller="Employee" asp-action="Index" class="button btn btn-light">جميع الموظفين</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @* Include validation scripts *@
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
        function previewImage(event, previewId) {
            const input = event.target;
            const file = input.files[0];

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const preview = document.getElementById(previewId);
                    preview.src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        }
    </script>
}